* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {
    height: 52px;
    width: 100%;
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%, rgba(108, 148, 255, 0.92) 0px, rgba(0, 0, 0, 0.92) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-text {
    color: white;
    text-align: center;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.col-text a {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    margin-right: 10px;
    font-weight: 500;
}

.col-text a:hover {
    text-decoration-thickness: 2px;
}

/* Main */
.col-main {
    height: 100vh;
    /* height: auto; */
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-S-Main-Hero-Desktop-Poster-NA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
}

.bg-video {
    position: absolute;
}

.bg-video video {
    height: auto;
    width: 100%;
}

video {
    filter: brightness(0.5);
}

/* Navbar  */
.col-nav {
    height: 60px;
    /* width: 100vw; */
    background: transparent;
    display: flex;
    position: relative;
    /* position: absolute; */
}

/* Logo */
.col-logo {
    height: 60px;
    width: 22%;
    /* background: palegreen; */
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding-left: 43px;
    z-index: 1;
}

.col-logo img {
    height: 100px;
    width: auto;
    cursor: pointer;
}

/* center */
nav {
    display: flex;
    align-items: center;
    padding: 0 36px;
    /* width: 78%; */
    height: inherit;
    /* background: green; */
}

.list-nav a {
    text-decoration: none;
    display: inline-block;
    /* padding: 5px 11px; */
    padding: 4px 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    /* color: black; */
    font-weight: 600;
    /* border-radius: 6px;
    border: 1px solid white; */
}

.list-nav {
    display: flex;
    position: relative;
    z-index: 1;
    padding: 5px 0 0 0;
}

.hover {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.629);
    /* background-color: rgba(128,128,128,0.15); */
    background-color: rgba(120, 120, 120, 0.307);
    opacity: 0;
    height: 33px;
    width: 85px;
    border-radius: 6px;
    transition: all 0.7s;
    z-index: -1;
}

/* right */
.list-nav a:nth-child(7) {
    padding-right: 148px;
}

/* ================ Menu =================== */
.menu {
    display: none;
    color: white;
    background-color: rgba(120, 120, 120, 0.307);
    height: 33px;
    width: 78px;
    border-radius: 6px;
}


.list-nav a:nth-child(1):hover~.hover {
    width: 81px;
    opacity: 1;
    left: 0;
}

.list-nav a:nth-child(2):hover~.hover {
    width: 79px;
    opacity: 1;
    left: 80px;
}

.list-nav a:nth-child(3):hover~.hover {
    width: 78px;
    opacity: 1;
    left: 161px;
}

.list-nav a:nth-child(4):hover~.hover {
    width: 79px;
    opacity: 1;
    left: 240px;
}

.list-nav a:nth-child(5):hover~.hover {
    width: 95px;
    opacity: 1;
    left: 320px;
}

.list-nav a:nth-child(6):hover~.hover {
    width: 105px;
    opacity: 1;
    left: 418px;
}

.list-nav a:nth-child(7):hover~.hover {
    width: 91px;
    opacity: 1;
    left: 526px;
}

.list-nav a:nth-child(8):hover~.hover {
    width: 59px;
    opacity: 1;
    left: 755px;
}

.list-nav a:nth-child(9):hover~.hover {
    width: 78px;
    opacity: 1;
    left: 814px;
}

.list-nav a:nth-child(10):hover~.hover {
    width: 66px;
    opacity: 1;
    left: 890px;
}

/* Experience Tesla */
.col-text1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 37px;
    margin: 28px 0 6px 0;
    position: relative;
}

.col-text2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 600;
    letter-spacing: 2;
    position: relative;
}

.btn-1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 346px;
}

.btn-1 a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: block;
}

.btn-1 button {
    background: none;
    text-decoration: none;
    padding: 7px;
    border: 3px solid white;
    width: 20vw;
    border-radius: 5px;
}

.btn-1 button:hover {
    background: white;
}

.btn-1 button:hover a {
    color: black;
}


/*      Model-3        */
.col-main1,
.col-main2,
.col-main3,
.col-main4,
.col-main5,
.col-main6 {
    height: 100vh;
    background: black;
    text-align: center;
    position: relative;
}

.Model3img {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.col-text3 {
    font-family: 'Geologica', sans-serif;
    font-size: 41px;
    font-weight: 600;
    padding: 106px 0 3px 0;
}

.price {
    margin: 0rem;
}

.price a {
    font-family: 'Geologica', sans-serif;
    color: rgba(0, 0, 0, 0.914);
    text-decoration: underline;
    text-underline-position: under;
    /* line-height: 1; */
}

.price a:hover {
    text-decoration-thickness: 2px;
}

.col-text4 {
    font-family: 'Geologica', sans-serif;
    color: rgba(0, 0, 0, 0.914);
}

.btn-2 {
    /* display: flex; */
    justify-content: center;
    position: relative;
    margin-top: 351px;
}

.btn-2 a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    display: block;
}

.btn-2 button {
    background: none;
    text-decoration: none;
    padding: 9px;
    width: 19vw;
    border-radius: 4px;
}

.btn-2 .ordernow {
    background: #f4f4f4cc;
    border: none;
    margin: 0 30px 0 0;
}

.btn-2 .ordernow a {
    color: #171a20a6;
}

.btn-2 .demodrive {
    background: #171a20a6;
    border: none;
}

.btn-2 .demodrive a {
    color: white;
}

/*     Model-Y     */
.ModelYimg {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*     Model-S     */
.ModelSimg {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*     Model-X     */
.ModelXimg {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Solar Panels */
.SolarPanelsimg {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Solar Roof */
.SolarRoofimg {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Accessories */
.Accessoriesimg {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_Accessories);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-2 .shopnow {
    background: #000000e3;
    border: none;
    margin-top: 37px;
}

.shopnow a {
    color: white;
}

.aboutsection {
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.aboutsection p a {
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
    font-size: 14px;
    margin: 7px;
    color: gray;
    font-weight: 600;
}
